node_modules/
.next/
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vercel
.vscode/
.DS_Store
*.pem
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
.npm
.eslintcache
.env.*.local
.idea/
*.iml
.vscode/
*.sublime-workspace
*.sublime-project
.vercel
